<% if(locals.error){ %>
<h2><%= error%></h2>
<% }else{ %>
<h2>修改密码</h2>
<% if(locals.action && locals.action == 'change_password'){　%>
<form action="/change_password/<%= user_id%>" method="post">
   <input type="hidden" name="_csrf" value="<%= _csrf%>" />
	<input type="password" name="old_password" id="old_password" />
	<input type="password" name="new_password" id="new_password" />
	<input type="password" name="re_password" id="re_password" />
	<input type="submit" value="提交" />
</form>
<% }else{ %>
<p>操作失败</p>
<% } %>
<% } %>